# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules
/.pnp
.pnp.js

# Build output
dist
.parcel-cache
.next
out
build

# Misc
.DS_Store
.env
.env.*
!.env.example
coverage
*.local
*.swp
